#titleMunch
{
	margin-bottom: 1em;
}

body{
	background-image:url('img/wallpaper.png');
}

label{
	font-size:1.5em;
	color:#484c51;
}

#Input
{
	margin-top:3em;
	margin-bottom: 5em;
}

.page-title{
	text-align:center;
}

#me
{
	margin-top: 2em;
	margin-bottom: 0em;
	font-size: 2em;
}

.page-top{
	text-align:center;
}

.logo-form{
	margin-bottom:1.5em;
}	

.input-text{
	font-size:1.5em;
}