<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MunchBusters | Welcome</title>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One|Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    
        <div class="row">
        
		<div class="large-3 columns">
          <h1><a href="#"><img id="logo" src="img/logo.png"/></a></h1>
        </div>
        <div class="large-9 columns">
          <ul class="right button-group">
          <li><a href="/munch" class="button">Munchers</a></li>
          <li><a href="/deliver" class="button">MunchBusters</a></li>
          <li><a href="/aboutus" class="button">About Us</a></li>
          <li><a href="#" class="button">Log In</a></li>
          </ul>
         </div>
       </div>
      
    <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <h1>Food Runs</h1>
          </div>
        </div>
      </div>
       
      <div class="row">
        <div class="large-12 columns">
m         <div class="row">
            <div class="large-2 columns small-3"><img src="img/syeda.jpg"/></div>
            <div class="large-10 columns">
              <p><strong>Syeda: </strong><em>Chipotle</em> &#8594; <em>North Davis</em> @ <em>3PM</em> to <em>4:30PM</em> for <em>$5</em></p>
			  <p><strong>Notes: </strong>"Going to Peet's coffee after"</p>
              <ul class="inline-list">
                <a href="#" class="button radius">Feed Me</a>
              </ul>
     
    
            </div>
          </div>
           
     
          <hr/>
     
           
          <div class="row">
            <div class="large-2 columns small-3"><img src="img/pouneh.jpg"/></div>
            <div class="large-10 columns">
              <p><strong>Pouneh: </strong><em>Dumpling House</em> &#8594; <em>West Village</em> @ <em>12PM</em> to <em>1:00PM</em> for <em>$3</em></p>
              <ul class="inline-list">
                <a href="#" class="button radius">Feed Me</a>
              </ul>
            </div>
          </div>
           
     
          <hr/>
     
           
          <div class="row">
            <div class="large-2 columns small-3"><img src="img/joanne.jpg"/></div>
            <div class="large-10 columns">
              <p><strong>Joanne: </strong><em>Teabo</em> &#8594; <em>Central Davis</em> @ <em>12AM</em> to <em>2AM</em> for <em>$5</em></p>
			  <p><strong>Notes: </strong>"Can deliver to campus"</p>
              <ul class="inline-list">
                <a href="#" class="button radius">Feed Me</a>
              </ul>
 
            </div>
          </div>
           
     
        </div>
     
      </div>
 
     
    
  
  </body>
</html>
